<html>
<head>
    <title>Vladislav's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Vladislav's blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim fuga
                nam praesentium quas tempore voluptas!</p>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fuga
                officiis quod. Aspernatur cum impedit itaque!</p>
        </div>
    </div>
</body>
</html>
